In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('/content/3. Heart_Disease_Mortality_Data_Among_US_Adults__35___by_State_Territory_and_County.csv')

In [ ]:
df.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2014,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,105.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013.0,"(55.440626, -161.962562)"
1,2014,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,211.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016.0,"(52.995403, -170.251538)"
2,2014,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020.0,"(61.159049, -149.103905)"
3,2014,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,351.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050.0,"(60.924483, -159.749655)"
4,2014,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060.0,"(58.754192, -156.694709)"

In [ ]:
df.tail()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
16595,2014,KY,Elliott County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Female,Race/Ethnicity,Black,T2,21063.0,"(38.123504, -83.09897)"
16596,2014,KY,Estill County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Female,Race/Ethnicity,Black,T2,21065.0,"(37.692408, -83.967702)"
16597,2014,KY,Fayette County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,323.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Female,Race/Ethnicity,Black,T2,21067.0,"(38.037997, -84.468142)"
16598,2014,KY,Fleming County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Female,Race/Ethnicity,Black,T2,21069.0,"(38.373011, -83.701749)"
16599,2014,KY,Floyd County,County,NVSS,Cardiovascular Diseases,Hear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info

<bound method DataFrame.info of        Year LocationAbbr    LocationDesc GeographicLevel DataSource  \
0      2014           AK  Aleutians East          County       NVSS
1      2014           AK  Aleutians West          County       NVSS
2      2014           AK       Anchorage          County       NVSS
3      2014           AK          Bethel          County       NVSS
4      2014           AK     Bristol Bay          County       NVSS
...     ...          ...             ...             ...        ...
16595  2014           KY  Elliott County          County       NVSS
16596  2014           KY   Estill County          County       NVSS
16597  2014           KY  Fayette County          County       NVSS
16598  2014           KY  Fleming County          County       NVSS
16599  2014           KY    Floyd County          County       NVSS

                         Class                    Topic  Data_Value  \
0      Cardiovascular Diseases  Heart Disease Mortality       105.3
1      Cardiovascular Diseases  Heart Disease Mortality       211.9
2      Cardiovascular Diseases  Heart Disease Mortality       257.9
3      Cardiovascular Diseases  Heart Disease Mortality       351.6
4      Cardiovascular Diseases  Heart Disease Mortality         NaN
...                        ...                      ...         ...
16595  Cardiovascular Diseases  Heart Disease Mortality         NaN
16596  Cardiovascular Diseases  Heart Disease Mortality         NaN
16597  Cardiovascular Diseases  Heart Disease Mortality       323.3
16598  Cardiovascular Diseases  Heart Disease Mortality         NaN
16599  Cardiovascular Diseases                     Hear         NaN

              Data_Value_Unit  \
0      per 100,000 population
1      per 100,000 population
2      per 100,000 population
3      per 100,000 population
4      per 100,000 population
...                       ...
16595  per 100,000 population
16596  per 100,000 population
16597  per 100,000 population
16598  per 100,000 population
16599                     NaN

                                         Data_Value_Type  \
0      Age-adjusted, Spatially Smoothed, 3-year Avera...
1      Age-adjusted, Spatially Smoothed, 3-year Avera...
2      Age-adjusted, Spatially Smoothed, 3-year Avera...
3      Age-adjusted, Spatially Smoothed, 3-year Avera...
4      Age-adjusted, Spatially Smoothed, 3-year Avera...
...                                                  ...
16595  Age-adjusted, Spatially Smoothed, 3-year Avera...
16596  Age-adjusted, Spatially Smoothed, 3-year Avera...
16597  Age-adjusted, Spatially Smoothed, 3-year Avera...
16598  Age-adjusted, Spatially Smoothed, 3-year Avera...
16599                                                NaN

      Data_Value_Footnote_Symbol Data_Value_Footnote StratificationCategory1  \
0                            NaN                 NaN                  Gender
1                            NaN                 NaN                  Gender
2                            NaN                 NaN                  Gender
3                            NaN                 NaN                  Gender
4                              ~   Insufficient Data                  Gender
...                          ...                 ...                     ...
16595                          ~   Insufficient Data                  Gender
16596                          ~   Insufficient Data                  Gender
16597                        NaN                 NaN                  Gender
16598                          ~   Insufficient Data                  Gender
16599                        NaN                 NaN                     NaN

      Stratification1 StratificationCategory2 Stratification2 TopicID  \
0             Overall          Race/Ethnicity         Overall      T2
1             Overall          Race/Ethnicity         Overall      T2
2             Overall          Race/Ethnicity         Overall      T2
3             Overall          Race/Ethnicity         Overall      T2
4             Overall          Race/Ethnicity         Overall      T2
...               ...                     ...             ...     ...
16595          Female          Race/Ethnicity           Black      T2
16596          Female          Race/Ethnicity           Black      T2
16597          Female          Race/Ethnicity           Black      T2
16598          Female          Race/Ethnicity           Black      T2
16599             NaN                     NaN             NaN     NaN

       LocationID                Location 1
0          2013.0  (55.440626, -161.962562)
1          2016.0  (52.995403, -170.251538)
2          2020.0  (61.159049, -149.103905)
3          2050.0  (60.924483, -159.749655)
4          2060.0  (58.754192, -156.694709)
...           ...                       ...
16595     21063.0    (38.123504, -83.09897)
16596     21065.0   (37.692408, -83.967702)
16597     21067.0   (38.037997, -84.468142)
16598     21069.0   (38.373011, -83.701749)
16599         NaN                       NaN

[16600 rows x 19 columns]>

In [ ]:
df.shape

(16600, 19)

In [ ]:
df.describe()

          Year    Data_Value    LocationID
count  16600.0  10582.000000  16599.000000
mean    2014.0    357.050973  13087.747997
std        0.0    133.527774   6786.416457
min     2014.0     39.900000      0.000000
25%     2014.0    265.300000   8011.000000
50%     2014.0    347.800000  13265.000000
75%     2014.0    439.175000  19002.000000
max     2014.0   3000.900000  66010.000000

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID', 'Location 1'],
      dtype='object')

In [ ]:
df.isna().sum()

Year                              0
LocationAbbr                      0
LocationDesc                      0
GeographicLevel                   0
DataSource                        0
Class                             0
Topic                             0
Data_Value                     6018
Data_Value_Unit                   1
Data_Value_Type                   1
Data_Value_Footnote_Symbol    10583
Data_Value_Footnote           10583
StratificationCategory1           1
Stratification1                   1
StratificationCategory2           1
Stratification2                   1
TopicID                           1
LocationID                        1
Location 1                        2
dtype: int64

In [ ]:
df.isnull().mean()*100

Year                           0.000000
LocationAbbr                   0.000000
LocationDesc                   0.000000
GeographicLevel                0.000000
DataSource                     0.000000
Class                          0.000000
Topic                          0.000000
Data_Value                    36.253012
Data_Value_Unit                0.006024
Data_Value_Type                0.006024
Data_Value_Footnote_Symbol    63.753012
Data_Value_Footnote           63.753012
StratificationCategory1        0.006024
Stratification1                0.006024
StratificationCategory2        0.006024
Stratification2                0.006024
TopicID                        0.006024
LocationID                     0.006024
Location 1                     0.012048
dtype: float64

In [ ]:
print("Unique values for each column:")
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values for '{column}': {len(unique_values)}")

Unique values for each column:
Unique values for 'Year': 1
Unique values for 'LocationAbbr': 25
Unique values for 'LocationDesc': 773
Unique values for 'GeographicLevel': 3
Unique values for 'DataSource': 1
Unique values for 'Class': 1
Unique values for 'Topic': 2
Unique values for 'Data_Value': 4457
Unique values for 'Data_Value_Unit': 2
Unique values for 'Data_Value_Type': 3
Unique values for 'Data_Value_Footnote_Symbol': 2
Unique values for 'Data_Value_Footnote': 2
Unique values for 'StratificationCategory1': 2
Unique values for 'Stratification1': 4
Unique values for 'StratificationCategory2': 2
Unique values for 'Stratification2': 7
Unique values for 'TopicID': 2
Unique values for 'LocationID': 1139
Unique values for 'Location 1': 1138

In [ ]:
df.isna().sum()

Year                              0
LocationAbbr                      0
LocationDesc                      0
GeographicLevel                   0
DataSource                        0
Class                             0
Topic                             0
Data_Value                     6018
Data_Value_Unit                   1
Data_Value_Type                   1
Data_Value_Footnote_Symbol    10583
Data_Value_Footnote           10583
StratificationCategory1           1
Stratification1                   1
StratificationCategory2           1
Stratification2                   1
TopicID                           1
LocationID                        1
Location 1                        2
dtype: int64

In [ ]:
df.isna().sum()

Year                              0
LocationAbbr                      0
LocationDesc                      0
GeographicLevel                   0
DataSource                        0
Class                             0
Topic                             0
Data_Value                     6018
Data_Value_Unit                   1
Data_Value_Type                   1
Data_Value_Footnote_Symbol    10583
Data_Value_Footnote           10583
StratificationCategory1           1
Stratification1                   1
StratificationCategory2           1
Stratification2                   1
TopicID                           1
LocationID                        1
Location 1                        2
dtype: int64

In [ ]:
print(df.columns)

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID', 'Location 1'],
      dtype='object')

In [ ]:


columns_to_drop = ['Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Location 1']

df = df.drop(columns=columns_to_drop)

In [ ]:
df.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID'],
      dtype='object')

In [ ]:
columns_to_encode = ['Year', 'GeographicLevel', 'DataSource', 'Class', 'Topic', 'Data_Value_Unit', 'Data_Value_Type', 'StratificationCategory1', 'Stratification1', 'StratificationCategory2', 'Stratification2', 'TopicID']


label_encoder = LabelEncoder()


for column in columns_to_encode:
    df[column] = label_encoder.fit_transform(df[column])

print(df)

       Year LocationAbbr    LocationDesc  GeographicLevel  DataSource  Class  \
0         0           AK  Aleutians East                0           0      0
1         0           AK  Aleutians West                0           0      0
2         0           AK       Anchorage                0           0      0
3         0           AK          Bethel                0           0      0
4         0           AK     Bristol Bay                0           0      0
...     ...          ...             ...              ...         ...    ...
16595     0           KY  Elliott County                0           0      0
16596     0           KY   Estill County                0           0      0
16597     0           KY  Fayette County                0           0      0
16598     0           KY  Fleming County                0           0      0
16599     0           KY    Floyd County                0           0      0

       Topic  Data_Value  Data_Value_Unit  Data_Value_Type  \
0          1       105.3                0                1
1          1       211.9                0                1
2          1       257.9                0                1
3          1       351.6                0                1
4          1         NaN                0                1
...      ...         ...              ...              ...
16595      1         NaN                0                1
16596      1         NaN                0                1
16597      1       323.3                0                1
16598      1         NaN                0                1
16599      0         NaN                1                2

       StratificationCategory1  Stratification1  StratificationCategory2  \
0                            0                2                        0
1                            0                2                        0
2                            0                2                        0
3                            0                2                        0
4                            0                2                        0
...                        ...              ...                      ...
16595                        0                0                        0
16596                        0                0                        0
16597                        0                0                        0
16598                        0                0                        0
16599                        1                3                        1

       Stratification2  TopicID  LocationID
0                    4        0      2013.0
1                    4        0      2016.0
2                    4        0      2020.0
3                    4        0      2050.0
4                    4        0      2060.0
...                ...      ...         ...
16595                2        0     21063.0
16596                2        0     21065.0
16597                2        0     21067.0
16598                2        0     21069.0
16599                6        1         NaN

[16600 rows x 16 columns]

#MinMaxScaler

In [ ]:
columns_to_scale = ['Year', 'GeographicLevel', 'DataSource', 'Class', 'Topic', 'Data_Value_Unit', 'Data_Value_Type', 'StratificationCategory1', 'Stratification1', 'StratificationCategory2', 'Stratification2', 'TopicID']

scaler = MinMaxScaler()
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])


print(df)

       Year LocationAbbr    LocationDesc  GeographicLevel  DataSource  Class  \
0       0.0           AK  Aleutians East              0.0         0.0    0.0
1       0.0           AK  Aleutians West              0.0         0.0    0.0
2       0.0           AK       Anchorage              0.0         0.0    0.0
3       0.0           AK          Bethel              0.0         0.0    0.0
4       0.0           AK     Bristol Bay              0.0         0.0    0.0
...     ...          ...             ...              ...         ...    ...
16595   0.0           KY  Elliott County              0.0         0.0    0.0
16596   0.0           KY   Estill County              0.0         0.0    0.0
16597   0.0           KY  Fayette County              0.0         0.0    0.0
16598   0.0           KY  Fleming County              0.0         0.0    0.0
16599   0.0           KY    Floyd County              0.0         0.0    0.0

       Topic  Data_Value  Data_Value_Unit  Data_Value_Type  \
0        1.0       105.3              0.0              0.5
1        1.0       211.9              0.0              0.5
2        1.0       257.9              0.0              0.5
3        1.0       351.6              0.0              0.5
4        1.0         NaN              0.0              0.5
...      ...         ...              ...              ...
16595    1.0         NaN              0.0              0.5
16596    1.0         NaN              0.0              0.5
16597    1.0       323.3              0.0              0.5
16598    1.0         NaN              0.0              0.5
16599    0.0         NaN              1.0              1.0

       StratificationCategory1  Stratification1  StratificationCategory2  \
0                          0.0         0.666667                      0.0
1                          0.0         0.666667                      0.0
2                          0.0         0.666667                      0.0
3                          0.0         0.666667                      0.0
4                          0.0         0.666667                      0.0
...                        ...              ...                      ...
16595                      0.0         0.000000                      0.0
16596                      0.0         0.000000                      0.0
16597                      0.0         0.000000                      0.0
16598                      0.0         0.000000                      0.0
16599                      1.0         1.000000                      1.0

       Stratification2  TopicID  LocationID
0             0.666667      0.0      2013.0
1             0.666667      0.0      2016.0
2             0.666667      0.0      2020.0
3             0.666667      0.0      2050.0
4             0.666667      0.0      2060.0
...                ...      ...         ...
16595         0.333333      0.0     21063.0
16596         0.333333      0.0     21065.0
16597         0.333333      0.0     21067.0
16598         0.333333      0.0     21069.0
16599         1.000000      1.0         NaN

[16600 rows x 16 columns]

#StandardScaler

In [ ]:
columns_to_scale = ['Year', 'GeographicLevel', 'DataSource', 'Class', 'Topic', 'Data_Value_Unit', 'Data_Value_Type', 'StratificationCategory1', 'Stratification1', 'StratificationCategory2', 'Stratification2', 'TopicID']

scaler = StandardScaler()

df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

print(df)

       Year LocationAbbr    LocationDesc  GeographicLevel  DataSource  Class  \
0       0.0           AK  Aleutians East        -0.141035         0.0    0.0
1       0.0           AK  Aleutians West        -0.141035         0.0    0.0
2       0.0           AK       Anchorage        -0.141035         0.0    0.0
3       0.0           AK          Bethel        -0.141035         0.0    0.0
4       0.0           AK     Bristol Bay        -0.141035         0.0    0.0
...     ...          ...             ...              ...         ...    ...
16595   0.0           KY  Elliott County        -0.141035         0.0    0.0
16596   0.0           KY   Estill County        -0.141035         0.0    0.0
16597   0.0           KY  Fayette County        -0.141035         0.0    0.0
16598   0.0           KY  Fleming County        -0.141035         0.0    0.0
16599   0.0           KY    Floyd County        -0.141035         0.0    0.0

            Topic  Data_Value  Data_Value_Unit  Data_Value_Type  \
0        0.007762       105.3        -0.007762         0.140426
1        0.007762       211.9        -0.007762         0.140426
2        0.007762       257.9        -0.007762         0.140426
3        0.007762       351.6        -0.007762         0.140426
4        0.007762         NaN        -0.007762         0.140426
...           ...         ...              ...              ...
16595    0.007762         NaN        -0.007762         0.140426
16596    0.007762         NaN        -0.007762         0.140426
16597    0.007762       323.3        -0.007762         0.140426
16598    0.007762         NaN        -0.007762         0.140426
16599 -128.837106         NaN       128.837106         7.357359

       StratificationCategory1  Stratification1  StratificationCategory2  \
0                    -0.007762         1.142368                -0.007762
1                    -0.007762         1.142368                -0.007762
2                    -0.007762         1.142368                -0.007762
3                    -0.007762         1.142368                -0.007762
4                    -0.007762         1.142368                -0.007762
...                        ...              ...                      ...
16595                -0.007762        -1.279356                -0.007762
16596                -0.007762        -1.279356                -0.007762
16597                -0.007762        -1.279356                -0.007762
16598                -0.007762        -1.279356                -0.007762
16599               128.837106         2.353230               128.837106

       Stratification2     TopicID  LocationID
0             0.709904   -0.007762      2013.0
1             0.709904   -0.007762      2016.0
2             0.709904   -0.007762      2020.0
3             0.709904   -0.007762      2050.0
4             0.709904   -0.007762      2060.0
...                ...         ...         ...
16595        -0.445656   -0.007762     21063.0
16596        -0.445656   -0.007762     21065.0
16597        -0.445656   -0.007762     21067.0
16598        -0.445656   -0.007762     21069.0
16599         1.865464  128.837106         NaN

[16600 rows x 16 columns]